@import "resert.css";
@import "container.css";
.primery-btn {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  gap: 10px;
  border: 2px solid #5dae38;
  cursor: pointer;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.02em;
  transform: 0.5s linear;
  font-family: inherit;
}
.primery-btn a {
  color: #ffffff;
}
.primery-btn:hover {
  background: #5dae38;
}
.secondary-btn {
  display: block;
  width: 350px;
  height: 50px;
  color: black;
  padding: 10px;
  margin: 20px;
  border: 2px solid #5dae38;
  background: none;
  cursor: pointer;
}
.secondary-btn a {
  color: #5dae38;
}
.btn-block-content {
  margin-left: 40px;
  margin-bottom: 20px;
}
.btn-block-content a {
  color: #5dae38;
}
.btn-block-content a:hover {
  color: white;
}
.title-primery {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #818995;
  margin-top: 20px;
}
.title-secondary {
  font-weight: 400;
  font-size: 32px;
  line-height: 31px;
  color: #818995;
  margin-bottom: 15px;
}
.subtitle-primery {
  font-weight: 400;
  font-size: 30px;
  line-height: 22px;
  color: #818995;
  margin-bottom: 30px;
}
.work-title {
  color: #818995;
}
.work-title::after {
  content: '';
  display: block;
  width: 80%;
  background-color: #818995;
}
.work-price-title {
  color: #818995;
}
@media (max-width: 767px) {
  .title-secondary {
    font-size: calc(25.57377049px);
  }
  .subtitle-primery {
    font-size: calc(20.81967213px);
  }
}
@media (max-width: 769px) {
  .header-block-text,
  .primery-btn {
    display: none;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin: 0 0 0 auto;
    z-index: 6;
  }
  .header-burger::before,
  .header-burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header-burger::before {
    left: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .nav-menu-item {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background: #212224;
    padding: 60px 20px 20px 10px;
    display: block;
    top: -100%;
    z-index: 5;
  }
  .nav-menu-item.active {
    top: 0;
    transition: 0.3s;
  }
  .header {
    height: 120px;
  }
  .header-logo {
    width: 150px;
  }
  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .carousel-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 6;
  }
  .carousel-burger::before,
  .carousel-burger::after {
    content: '';
    background: #5dae38;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .carousel-burger::before {
    top: 5px;
    margin-left: -6px;
  }
  .carousel-burger::after {
    right: 0;
    top: 5px;
  }
  .carousel-burger span {
    background: #5dae38;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 5px;
    right: 10px;
    margin-right: 3px;
  }
  .carousel-menu {
    position: fixed;
    display: block;
    top: 53px;
    left: 0;
    width: 350px;
    height: 500px;
    background: #FFFFFF;
    z-index: 5;
    padding: 20px;
    top: -100%;
  }
  .carousel-menu-list {
    padding: 10px;
  }
  .carousel-menu.active {
    top: 65px;
    transition: 0.3s;
  }
  .body .lock {
    overflow: hidden;
  }
  .menu-item {
    display: flex;
  }
  .menu-item p {
    color: white;
    padding: 0px 15px;
  }
}
@media (min-width: 770px) {
  .menu-item p {
    display: none;
  }
}
@media (max-width: 426px) {
  .page-content-block img {
    max-width: 250px;
  }
  .secondary-btn {
    width: 230px;
  }
  .footer-block-text {
    display: none;
  }
  .social {
    flex-wrap: nowrap;
    margin-top: 30px;
  }
}
.header {
  background-color: #212224;
  padding-bottom: 40px;
}
.nav-menu-item {
  display: flex;
}
.nav-menu-item .menu-item-list {
  font-size: 13px;
  margin: 20px;
}
.nav-menu-item .menu-item-list a {
  color: #ffffff;
}
.header-block {
  display: flex;
}
.header-block .header-block-text {
  color: #818995;
  font-weight: 200;
  font-size: 14px;
  line-height: 13px;
}
.header-block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818995;
  margin: 20px 150px;
}
.carousel-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.carousel-menu-list {
  margin: 10px 40px;
}
.carousel-menu-list a {
  color: #212224;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}
.carousel-menu-list a:hover {
  border-bottom: 1px solid #5dae38;
}
.line {
  display: block;
  border: 1px solid #E2E5EA;
  transform: rotate(180deg);
  margin-top: 10px;
}
.work-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.work-text-block {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.work-text-list-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 62px;
  gap: 32px;
  background-color: #5dae38;
  color: white;
}
.work-text-list-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 62px;
  gap: 32px;
  background: #F3F3F3;
  color: black;
}
.work-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.work-block .block-content-tilte {
  margin: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
}
.work-block .block-content-tilte:hover {
  transition: .5s ease;
  color: #5dae38;
}
.block-content-subtilte {
  margin: 20px;
}
.block-content {
  margin: 0px 15px;
  background-color: #f3f3f3;
}
.block-content:hover {
  transform: scale(1.1);
  transition: .5s ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.074);
  background-color: white;
}
.future {
  background-color: #212224;
}
.future-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 31px;
  color: #ffffff;
  padding: 50px 0px 20px 0px;
}
.futue-head span {
  display: block;
  border: 1px solid #5dae38;
  transform: rotate(180deg);
  margin: 20px 0px;
  width: 100%;
}
.future-body-container {
  display: flex;
  flex-wrap: wrap;
}
.future-block {
  margin: 28px;
}
.future-block img {
  padding: 30px;
}
.future-block p {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.future-marked {
  background-color: black;
  padding: 10px;
}
.future-marked:hover {
  transform: scale(1.1);
  transition: .5s ease;
}
.page-head h3 {
  color: #818995;
  margin: 20px;
}
.page-head span {
  display: block;
  border: 1px solid #E2E5EA;
  transform: rotate(180deg);
  margin: 30px 10px;
  width: 99%;
}
.page-content {
  display: flex;
  flex-wrap: wrap;
}
.page-content-block {
  margin: 18px;
}
.page-content-block:hover {
  transition: 1s ease;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.074);
}
.page-content-block h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 10px;
}
.page-content-block .page-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #818995;
  margin-left: 10px;
  padding: 5px 0px;
}
.page-content-block .page-list li svg {
  margin: -5px 3px;
}
.reviews-page span {
  display: block;
  border: 1px solid #E2E5EA;
  transform: rotate(180deg);
  margin: 30px 10px;
  width: 99%;
}
.carousel-text span {
  display: block;
  border: 1px solid #E2E5EA;
  transform: rotate(180deg);
  margin: 30px 10px;
  width: 100%;
}
.carousel-text svg {
  padding: 4px;
  margin-bottom: 20px;
}
.carousel-title {
  font-weight: 400;
  font-size: 29px;
  line-height: 31px;
  color: #818995;
  margin-left: 20px;
}
.data {
  background-color: #212224;
}
.data .data-block {
  display: flex;
  flex-wrap: wrap;
}
.data-container span {
  display: block;
  border: 1px solid #e2e5ea7a;
  transform: rotate(180deg);
  margin: 30px 10px;
  width: 100%;
}
.data-content {
  display: flex;
  flex-wrap: wrap;
}
.data-content .form-data {
  display: block;
  width: 350px;
  height: 50px;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 20px;
}
.form-btn p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin-left: 23px;
  text-align: center;
  margin-bottom: 20px;
}
.data-title {
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
  padding: 15px 0px;
  margin-top: 20px;
}
.reviews-content {
  display: flex;
  flex-wrap: wrap;
}
.reviews-content .reviews-content-block {
  background: #F3F3F3;
  margin-top: 20px;
  padding: 52px;
  margin-left: 20px;
}
.reviews-content .reviews-content-block img {
  max-width: 100%;
  padding: 10px 30px;
}
.reviews-content .reviews-content-block p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.reviews-content .num-reviews {
  background-color: black;
  width: 40px;
  border-radius: 50%;
  color: white;
  font-size: 35px;
  padding-left: 19px;
}
.reviews-page h3 {
  padding-top: 25px;
  margin-left: 20px;
}
.footer-block {
  display: flex;
  flex-wrap: wrap;
  padding: 23px 15px;
}
.social {
  display: flex;
  flex-wrap: wrap;
}
.social svg {
  padding: 0px 3px 0px 0px;
}
.social .tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
}
.social .tel-bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 15px;
}
.footer-block-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818995;
  margin: 30px 170px 10px 100px;
}
.footer-menu-menu {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu-menu a {
  color: black;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
}
.footer-menu-menu .social {
  flex-wrap: nowrap;
}
